
body {
	background-color: #CCD6DD;
	color: #000000;
}

footer li {
	list-style: none;
	margin: 0;
	line-height: 1.5;
}

nav
{
	width: auto;
	height: 6opx;
}


/*************************HOVER TITLE SECTIONS*************************************/
h2.title_section_1:hover
{
	color: white;
	text-decoration: underline;
	font-family: "FoundersGrotesk";
    font-weight: regular;
	font-style: italic;
}

h2.title_section_2:hover
{
	color: red;
	text-decoration: underline;
	font-family: "FoundersGrotesk";
    font-weight: semibold;
	font-style: italic;
}


/**************************OVERLAPPING IMAGES**************************************/

@media (min-width: 768px) 
{ 
	.overlapping_section_1 ul 
	{
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr 4fr ;
	  grid-template-rows: 1fr 10fr 1fr ;
	  width: 100%; 
	  height: 600px;
	}

	.overlapping_section_1 li:nth-child(1) {
	  grid-row: 1 / span 3;
	  grid-column: 1 / span 2;
	   }

	.overlapping_section_1 li:nth-child(2) {
	  grid-row: 2 / span 4;
	  grid-column: 2 / span 3; 
	  z-index: 2;}


	.overlapping_section_2 ul 
	{
	  display: grid;
	  grid-template-columns: 4fr 2fr;
	  grid-template-rows: 1f 3f 3f ;
	  width: 100%; 
	  height: 600px;
	}

	.overlapping_section_2 li:nth-child(1) {
	  grid-row: 1 / span 3;
	  grid-column: 1 / span 2;
	   }

	.overlapping_section_2 li:nth-child(2) {
	  grid-row: 2 / span 1;
	  grid-column: 2 / span 3; 
	  z-index: 2;}



}


/**************************FONT****************************************/

@font-face {
    font-family: "FoundersGrotesk";
    font-weight: semibold;
	font-style: italic;
    src: url("file:///C:/Users/Alex/Desktop/Design/Website/Finezze/font/FoundersGrotesk-SemiboldItalic.otf");
}

@font-face {
	font-family: "FoundersGrotesk";
	font-weight: regular; 
	font-style: normal;
	src: url("file:///C:/Users/Alex/Desktop/Design/Website/Finezze/font/FoundersGrotesk-Regular.otf");
} 
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: regular;
	font-style:italic;
    src: url("font/FoundersGrotesk-RegularItalic.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: semibold;
	font-style: normal;
    src: url("font/FoundersGrotesk-Semibold.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: medium;
	font-style:italic;
    src: url("font/FoundersGrotesk-MediumItalic.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: medium;
	font-style:normal;
    src: url("font/FoundersGrotesk-Medium.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: light;
	font-style:normal;
    src: url("font/FoundersGrotesk-Light.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: light;
	font-style:italic;
    src: url("font/FoundersGrotesk-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: bold;
	font-style:italic;
    src: url("font/FoundersGrotesk-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "FoundersGrotesk";
    font-weight: bold;
	font-style:normal;
    src: url("font/FoundersGrotesk-Bold.otf") format("opentype");
}

