.container-gap-top
{
	margin-top:4rem;
}

.row-gap-4
{
	margin-top:4rem;
}

.row-gap-3
{
	margin-top:3rem;
}

.row-gap-1
{
	margin-top:1rem;
}

.footer-gap
{
	margin-top:6rem;
}

/*Code from Density lab website*/

footer li {
	list-style: none;
	margin: 0;
	line-height: 1.5;
}

/*Margin in the right way */


/* start of desktop styles */

@media screen and (max-width: 991px) {
/* start of large tablet styles */

}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
	.gap-two-rem
	{
		margin-bottom: 2rem;
	}
	
	.gap-four-rem
	{
		margin-bottom: 4rem;
	}
	
	.gap-three-rem
	{
		margin-bottom: 3rem;
	}
	
	.gap-four-rem
	{
		margin-bottom: 4rem;
	}

}

@media screen and (max-width: 575.98px) {
/* start of phone styles */
	.gap-two-rem
	{
		margin-bottom: 2rem;
	}
	
	.gap-four-rem
	{
		margin-bottom: 4rem;
	}
	
	.gap-three-rem
	{
		margin-bottom: 3rem;
	}
	
	.gap-four-rem
	{
		margin-bottom: 4rem;
	}

}

